* {
	box-sizing: border-box;
}


body > main{
    padding-top: 3rem;
    padding-bottom: 3rem;
		background-image: url('../images/GoodwayLogo-Trans95.jpg');
		background-repeat: no-repeat;
		background-size: Contain;
		background-position: center;
		min-height: 100vh;
	
}


.img:hover {
 opacity: 0.5;
}
.widthSet {
	max-width: 64px;
}
.heightSet {
	max-height: 64px;
}


.horizontal > li {
	float: left;
	list-style-type: none
}
li a {
  display: block;
  color: #ff0000;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}



/* w3s Hero Edits */
.hero-image-top {
  background-image: url("../images/Hero_InBasket_16.9.jpg");
  /* background-color: #cccccc; */
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-image-mid {
  background-image: url("../images/Hero_GroupTilt_16_9.jpg");
  /* background-color: #cccccc; */
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
	position: relative;
}
.hero-image-bottom {
  background-image: url("../images/Hero_InFlightBasket_16.9.jpg");
  /* background-color: #cccccc; */
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
	color:  #fd7e14;
	
	text-shadow: 2px 2px #ff0000;
}

.card {
	min-height: 200px;
	background-color: rgba(13, 110, 253,.25);
	color: rgba(13, 110, 253,.85);
	justify-content: space-around;
	/* margin: 1.5em; */
	
}
.card-header{
	background-color: transparent;
	text-align: center;
	font-weight: bold;
	font-size:  1.25em;
}
.card > img {
	padding-top: .5em;
}

.card-body{
	text-align: Center;
	text-indent: 5px;
	font-weight: 500;
	
}

.offset-04 {
  margin-left: 0.041666667%;
}

