* {
	box-sizing: border-box
}


body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-image: url('../images/pattern.png');
    background-repeat: repeat;
}




.widthSet {
	max-width: 64px;
}

.heightSet {
	max-height: 64px;
}


.horizontal li {
	float: left;
}

li a {
  display: block;
  color: #ff0000;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}